  
  .mat-card {
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
  }

  
  
  div #profile-background img {
    width:100%;
    border-radius: 32px 32px 0 0;
}

 
.profile-image {
  border-radius: 50%;
  width: 152px;
  height: 152px;
  margin-top: -110px;
  z-index: 1;
}

.mat-card {
  border-radius: 32px;
  margin: 10px 10px;
  padding: 20px;
}
/* .mat-card#first-card {
  padding: 0;
} */

div#info-data {
  display: flex;
  justify-content: space-between;
}
div#info-data h1 {
  font-size: 1.8rem;
  display: inline;
  font-weight: 500;
  line-height: 1.25;
  word-wrap: break-word;
  word-break: break-word;
}

div#info-data ul#info-details {
  width: 232px;
  list-style: none;
  flex-shrink: 0;
}
div#info-data ul#info-details li a {
  color: black;
  display: flex;
  text-decoration: none;
}
div#info-data ul#info-details li a h2 {
  font-size: 1rem;
  font-weight: 500;
  align-self: center;
  vertical-align: baseline;
}
div#info-data ul#info-details li a img {
  width: 70px;
  height: 70px;
  margin-right: 8px;
}
.openButton {
background-color: white;
border: none;
font-size: 15px;
}